.ingredientsList__section {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 32px 24px;
}

.link {
    text-decoration: none;
    color: #f2f2f3;
}

.ingredientsList__item {

    list-style-type: none;
}

